@{
    ViewBag.Title = "Default-Error-Handler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    if (ViewData.Model != null)
    {
        if (((System.Web.Mvc.HandleErrorInfo)ViewData.Model).Exception is HttpException)
        {
            var httpEx = ((System.Web.Mvc.HandleErrorInfo)ViewData.Model).Exception as HttpException;
            <span>Internal Server Error</span>
            <span>httpEx.GetHttpCode()</span>
        }
        else
        {
            <span>Internal Server Error</span>
        }
    }
    }